* {
    font-family: 'Montserrat', sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .bg-light {
    background-color: pink !important;
} */
nav {
    border-bottom: 5px solid #FFF0F5;
}

.text-light {
    color: #DB7093 !important;
}

#home {
    background-image: url(./assets/background-home.png);
}

#text-home {
    margin: 104px;
}

#text-name {
    font-size: 80px;
    font-weight: 700;
}

#img-about {
  
}

section {
    padding-top: 100px;
}

